{% extends "layout.html" %}
{% block content %}
<div class="about">
  <h1>About me</h1>
  <p>Raúl Reguillo Carmona</p>
  <ul>
    <li>Bitbucket: <a href="https://bitbucket.org/rreguillo/">https://bitbucket.org/rreguillo/</a>
      <ul>
	<li>pybooks - Isbndb.com API (V2) Wrapper: <a href="https://bitbucket.org/rreguillo/pybooks">https://bitbucket.org/rreguillo/pybooks</a></li>
	<li>pybooks-flask (this project): <a href="https://bitbucket.org/rreguillo/pybooks-flask">https://bitbucket.org/rreguillo/pybooks-flask</a></li>
      </ul>
    </li>
    <li>Credits:
      <ul>
	<li>Flask Homepage: <a href="http://flask.pocoo.org/">http://flask.pocoo.org/</a></li>
	<li>Ardit's Web App tutorial: <a href="http://pythonhow.com/building-a-website-with-python-flask/">http://pythonhow.com/building-a-website-with-python-flask/</a></li>
	<li>isbndbpy python library: <a href="https://github.com/ruiwen/isbndbpy">https://github.com/ruiwen/isbndbpy</a></li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}
