{% extends "layout.html" %}
{% block content %}
<div class="home">
  <h1>DETAIL FOR {{ book['isbn13'] }}</h1>
  <ul>
    <li>ISBN: {{ book['isbn13'] }} </li>
    <li>TITLE: {{ book['title'] }} </li>
    <li>AUTHOR: 
      <ul>
      {% for aut in book['authors'] %} 
      <li>{{ aut['name'] }}</li>
      {% endfor %}
      </ul>
    </li>
    <li>PUBLISHER: {{ book['publisher'] }} </li>
    <li>SUBJECT: 
      <ul>
      {% for s in book['subjects'] %}
      <li> {{ s }} </li>
      {% endfor %}
      </ul>
    </li>    
  </ul>
</div>
<div class="home">
  <img src="http://covers.openlibrary.org/b/isbn/{{ book['isbn13'] }}-M.jpg" />
</div>
{% endblock %}
