<!DOCTYPE html>
<html>
  <head>
    <title>Flask app: ISBNDB PYBOOKS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">PYBOOKS (based on Ardit's web app tutorial)</h1>
        <strong><nav>
            <ul class="menu">
              <li><a href="{{ url_for('search') }}">Search</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
