{% extends "layout.html" %}
{% block content %}
<div class="home">
  <h1>Results</h1>
  <ul>
    <li>ISBN: <a href="{{ url_for('detail', isbn=result.isbn13) }}"> 
	{{ result.isbn13 }} </a> </li>
    <li>TITLE: {{ result.title }} </li>
    <li>AUTHOR: 
      <ul>
      {% for aut in result.author %} 
      <li>{{ aut['name'] }}</li>
      {% endfor %}
      </ul>
    </li>
<!--
    <li>PUBLISHER: {{ result.publisher }} </li>
    <li>SUBJECT: 
      <ul>
      {% for s in result.subject %}
      <li> {{ s }} </li>
      {% endfor %}
      </ul>
    </li>    
  </ul>
-->
{% endblock %}
