{% extends "layout.html" %}
{% block content %}
<div class="home">
  <h1>Search for book or ISBN </h1>
  <form action="" method="post">
    <table>
      <tr>
	<td>
	  <p>TITLE:</p>
	</td>
	<td>
	  <input type=text name=book_title onClick="this.value=''"/>
	</td>
      </tr>
      <tr>
	<td>
	  <p>ISBN:
	  </p>
	</td>
	<td>
	  <input type=text name=book_isbn  onClick="this.value=''"/>
	</td>
      </tr>
    </table>
<!--
    <p>AUTH: <input type=text name=book_author /></p>
    <p>ISBN: <input type=text name=book_isbn /></p>
-->
    <p><input type=submit value=Search /></p>
  </form>
</div>
{% endblock %}
